 * {
     text-decoration: none;
     font-family: "Roboto", sans-serif;
     box-sizing: border-box;
 }

 body {
     /* background-color: gray; */
     margin: 0;
 }

 /* -----------------------------------TOP----------------------------------- */
 .top {
     background-color: white;
     width: 100%;
     height: 50px;
     padding: 0 100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid lightgray;
 }

 .top .left a {
     margin: 8px;
     font-size: 12px;
     color: lightgray;
 }

 .top .left a:hover {
     color: orange;
     transition: all 0.5s;
 }

 .top .right select {
     width: 100px;
     height: 30px;
     text-align: center;
     border: none;
     border-radius: 5px;
     outline: none;
     cursor: pointer;
     background-color: #efefef;
 }

 .top .right button {
     width: 100px;
     height: 30px;
     text-align: center;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     background-color: orange;
     color: white;
 }

 .top .right button:hover {
     background-color: white;
     color: black;
     border: 1px solid orange;
     transition: all 0.5s;

 }

 /* -----------------------------------Menu----------------------------------- */
 .menu {
     height: 70px;
     display: flex;
     background-color: white;
     /* border: 1px solid red; */
     align-items: center;
     justify-content: space-between;
     padding: 0 100px;
     /* width: 100%; */
     position: sticky;
     z-index: 1;
     top: 0;
     left: 0;
 }

 .menu .nav li {
     /* border: 1px solid black; */
     list-style: none;
     display: inline-block;
     margin: 0 15px;
     font-size: 12px;
     font-weight: 500;
 }

 .menu .nav li a {
     color: black;
 }

 .menu .nav li a:hover {
     color: orange;
     transition: all 0.3s;
 }

 /* -----------------------------------Section: picture-----------------------------------  */

 .picture {
     background: url(Image/home-banner.webp) no-repeat center;
     background-attachment: fixed;
     height: 700px;
     display: flex;

 }

 .picture .Build-content {
     /* border: 1px solid blue; */
     text-align: center;
     color: white;
     margin: auto;
 }

 .picture .Build-content h3 {
     color: white;
     font-size: 50px;
     font-weight: bold;
     margin: 10px;

     span {
         color: black;
         background-color: orange;
         border-radius: 5px;
     }
 }

 .picture .Build-content p {
     width: 500px;
     font-size: 14px;
     line-height: 24px;
     color: white;
 }

 .picture .Build-content button {
     background-color: #2a2a2a;
     color: orange;
     width: 170px;
     height: 50px;
     border: none;
     border-radius: 5px;
     font-weight: bold;
     margin-top: 10px;
 }

 .picture .Build-content button:hover {
     background-color: orange;
     color: #2a2a2a;
     transition: all 0.5s;
 }

 /* -----------------------------------Section Comman-----------------------------------  */

 section {
     text-align: center;
 }

 h2 {
     font-size: 36px;
     margin-top: 100px;
     margin-bottom: 10px;
     color: #222222;
 }

 h4 {
     font-size: 18px;
     color: #222222;
 }

 p {
     font-size: 14px;
     color: #777777;
 }

 /* -----------------------------------Section services-----------------------------------  */

 .services .mainbox {
     display: flex;
     justify-content: center;
     margin: 50px 60px;
 }

 .services .mainbox .box {
     width: 25%;
     /* border: 1px solid black; */
     padding: 20px;
     margin: 10px;
 }

 .services .mainbox .box:hover {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transition: all 0.5s;
 }

 /* -----------------------------------Section: projects-----------------------------------  */

 .projects .mainbox {
     /* border: 1px solid black; */
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 50px 0;
 }

 .projects .mainbox .box {
     /* border: 1px solid red;   */
     width: 33.33%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .projects .mainbox .box img {
     width: 100%;
 }

 .projects .mainbox .box .hover {
     /* border: 1px solid green; */
     width: 95%;
     height: 95%;
     background-color: rgba(250, 183, 0, 0.85);
     position: absolute;
     align-content: center;
     opacity: 0;
 }

 .projects .mainbox .box .hover p {
     color: #222222;
 }

 .projects .mainbox .box .hover:hover {
     width: 100%;
     height: 100%;
     opacity: 1;
     transition: all 0.5s;
 }

 /* -----------------------------------Section: members-----------------------------------  */

 .members .mainbox {
     /* border: 1px solid black; */
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 50px 0;
 }

 .members .mainbox .box {
     /* border: 1px solid red; */
     margin-left: 20px;
     margin-right: 20px;

 }

 .members .mainbox .box .team-image {
     /* border: 1px solid red; */
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .members .mainbox .box .hover {
     /* border: 1px solid green; */
     width: 95%;
     height: 95%;
     background-color: rgba(250, 183, 0, 0.85);
     position: absolute;
     align-content: center;
     opacity: 0;
     color: #777777;
 }

 .members .mainbox .box .hover:hover {
     width: 100%;
     height: 100%;
     opacity: 1;
     transition: all 0.5s;
     color: black;
 }

 .members .mainbox .box .hover a {
     color: #777777;
     cursor: pointer;
     margin: 10px;
 }

 .members .mainbox .box .hover a:hover {
     color: black;
     cursor: pointer;

 }

 .members .mainbox .box .team-name h4 {
     margin-bottom: 5px;
 }

 .members .mainbox .box .team-name p {
     margin-top: 5px;
 }

 /* -----------------------------------Section: counter_area-----------------------------------  */

 .counter_area {
     /* border: 1px solid black; */
     height: 320px;
     background-color: rgb(250, 183, 0);
 }

 .counter_area .counters {
     height: 100%;
     /* border: 1px solid red; */
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .counter_area .counters .counter_item {
     /* border: 1px solid green; */
     margin: 0 50px;
     text-align: left;
 }

 .counter_area .counters .counter_item h2 {
     font-size: 48px;
     font-family: "Oswald", sans-serif;
     font-weight: bold;
     color: #222222;
     margin: 0;
 }

 .counter_area .counters .counter_item p {
     /* margin-bottom: 0px; */
     color: #222222;
     font-size: 14px;
 }

 /* -----------------------------------Section: features-----------------------------------  */

 .features .mainbox {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 50px 20px;
     /* border: 1px solid red; */
     
 }

 .features .mainbox .box {
     width: 28%;
     /* border: 1px solid black; */
     border: 1px solid #eeeeee;
     border-radius: 10px;
     padding: 20px 40px;
     margin: 10px;
     text-align: left;
 }

 .features .mainbox .box span {
     /* border: 1px solid black; */
     font-size: 24px;
     margin-right: 5px;
     vertical-align: text-top;
 }

 .features .mainbox .box p {
     /* border: 1px solid black; */
     line-height: 24px;
 }

 .features .mainbox .box:hover {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transition: all 0.5s;
 }

  .features .mainbox .box:hover h4 {
     color: orange;
     transition: all 0.5s;
 }

 /* -----------------------------------Section: -----------------------------------  */